{% extends "layout.jinja" %}
{% block title %}File manager{% endblock %}
{% block content %}
<div class="header">
    <h1>File manager</h1>
</div>
<div class="content">
    <ul class="filelist">
        {% for dir in dirs %}
            <li class="filelist">{{ dir }} [<a href="/files/get/{{ dir }}.zip" class="download">Download</a>] [<a href="/files/delete/{{ dir }}/" class="delete">Delete</a>]
        {% endfor %}
    </ul>
    <hr>
    <p class="diskspace"><b>Disk available:</b> {{ diskspace }} GB</p>
</div>
{% endblock %}