{% extends "layout.jinja" %}
{% block title %}Main view{% endblock %}
{% block content %}
<script src="{{ url_for('static', filename='ws_status.js') }}"></script>

<div class="header">
    <h1>Main view</h1>
</div>
<div class="controls">
    <label class="switch" for="led_checkbox">
    <input type="checkbox" id="led_checkbox" onclick="toggle_led(this.checked)" {% if led %} checked {% endif %} />
    <div class="slider round"></div>
    LED</label>
    Current position: <span id='motor_position'>{{ position }}</span>
    <!-- spinner -->
    <div class="spinner"><div class="lds-roller" id="spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div></div>
    <input type='number' value=0 id='move'> <a href="#" onclick="move_abs()">Move abs</a> <a href="#" onclick="move_rel()">Move rel</a>
    <span id="response"></span>
<div class="content">

    <div id='container'></div>
    <script src="{{ url_for('static', filename='Decoder.js') }}"></script>
    <script src="{{ url_for('static', filename='YUVCanvas.js') }}"></script>
    <script src="{{ url_for('static', filename='Player.js') }}"></script>
    <script src="{{ url_for('static', filename='client.js') }}"></script>
</div>




{% endblock %}