{% extends "layout.jinja" %}
{% block title %}Main view{% endblock %}
{% block content %}
<div class="header">
    <h1>Main view</h1>
</div>
<div class="content">
    <div id='container'></div>
    <script src="{{ url_for('static', filename='Decoder.js') }}"></script>
    <script src="{{ url_for('static', filename='YUVCanvas.js') }}"></script>
    <script src="{{ url_for('static', filename='Player.js') }}"></script>
    <script src="{{ url_for('static', filename='client.js') }}"></script>
</div>
{% endblock %}