<!doctype html>
<html lang="en">
<head>
    <title>AMBvis: {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='pure-min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='grids-responsive-min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='ambvis.css') }}">
</head>
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul class="flashes">
{% for message in messages %}
<li>{{ message }}</li>
{% endfor %}
</ul>
{% endif %}
{% endwith %}
{% block content %}{% endblock %}
