<div class="pure-menu">
    <span class="pure-menu-heading">AMBvis</span>
    <ul class="pure-menu-list">
        <li class="pure-menu-item">
            <a href="/" class="pure-menu-link">Main view</a>
        </li>
        <li class="pure-menu-item">
            <a href="/" class="pure-menu-link">Experiment</a>
        </li>
        <li class="pure-menu-item">
            <a href="/files/" class="pure-menu-link">File manager</a>
        </li>
        <span class="pure-menu-heading">Settings</span>
        <li class="pure-menu-item">
            <a href="/settings/system/" class="pure-menu-link">System</a>
        </li>
        <li class="pure-menu-item">
            <a href="/settings/imaging/" class="pure-menu-link">Imaging</a>
        </li>
    </ul>
</div>
